<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NightMatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA076E1B2C22B0DF00F7A2C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA076E2B2C22B0E500F7A2C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA076E352C22B0E500F7A2C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
